development:
  PORT: 3000
  MONGODB_URI: "mongodb://localhost:27017/MyAppDB"
  JWT_SECRET: "MySuperSecretToken"

test:
  PORT: 3000
  MONGODB_URI: "mongodb://localhost:27017/MyAppDBTest"
  JWT_SECRET: "MySuperSecretToken"
